<html lang="{{ lang }}">
  
  <head>
    <title>Send A Message!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  
  <body class="mybackground">
    
    <header class="ccphead">
      <h1>You shouldnt be here..</h1>
    </header>
    <p>You've been fined <strong>¥1,000,000</strong> YUAN for your crimes.</p>
    <p>Your social credit score is currently <strong>0</strong>!</p>
    <footer class="footertext">
      <hr>
      <p style="font-weight:100;color: #BCCCDC;">Created by css</p>
    </footer>
  </body>
</html>