<html lang="{{ lang }}">
  
  <head>
    <title>Send A Message!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  
  <body>
    
    <header>
      <h1>Sent your message!</h1>
    </header>
    <p>Your message, <strong>{{ messagesent }}</strong> was successfully sent to <strong>{{ servername }}</strong> in the channel <strong>#{{ channelname }}</strong>!</p>
    <footer class="footertext">
      <hr>
      <p style="font-weight:100;color: #BCCCDC;">Created by css</p>
    </footer>
    <script src="/static/scripts/notify.js"></script>
    <script>
      window.onload = function() {
        notify('About your message:', 'Your message was just sent! Please check the channel for your message! Click this notification now to visit that channel!', '/static/images/logob.png', 'https://app.revolt.chat/server/{{ pserver }}/channel/{{ pchannel }}/')
      }
    </script>
    <script>
      function redirect(url) {
        console.log("Redirecting into a new page.")
        window.open(url)
      }
    </script>
  </body>
</html>